
@{
    ViewBag.Title = "Services-AllSquare";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

        <!-- PAGE TITLE
        ================================================== -->
        <section class="page-title-section bg-img cover-background top-position1 secondary-overlay" data-overlay-dark="7" data-background="/Content/img/banner/page-title.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="position-relative">
                            <h1>Services</h1>
                        </div>
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li><a href="#!">Services</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <!-- SERVICES
        ================================================== -->
        <section>
            <div class="container">
                <div class="section-title mb-1-9 mb-md-6 text-center wow fadeIn" data-wow-delay="200ms">
                    <span class="sm-title">Our Services</span>
                    <h2 class="mb-0 h1">We Provide The Best Services</h2>
                </div>
                <div class="row mt-n2-9">
                    <div class="col-md-6 col-xl-4 mt-2-9 wow fadeIn" data-wow-delay="200ms">
                        <div class="card-style1">
                            <div class="card-main-img">
                                <div class="card-border"></div>
                                <div class="card-icon">
                                    <img src="~/Content/img/icons/03.png" alt="...">
                                </div>
                                <div class="card-image">
                                    <img src="~/Content/img/service/service-01.jpg" alt="...">
                                </div>
                            </div>
                            <div class="card-content">
                                <h3 class="mb-2 h5"><a href="~/Service/Architecture">Architecture</a></h3>
                                <a href="~/Service/Architecture">Read more <i class="ti-arrow-right align-middle ms-1"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-4 mt-2-9 wow fadeIn" data-wow-delay="350ms">
                        <div class="card-style1">
                            <div class="card-main-img">
                                <div class="card-border"></div>
                                <div class="card-icon">
                                    <img src="~/Content/img/icons/04.png" alt="...">
                                </div>
                                <div class="card-image">
                                    <img src="~/Content/img/service/service-02.jpg" alt="...">
                                </div>
                            </div>
                            <div class="card-content">
                                <h3 class="mb-2 h5"><a href="~/Service/Structure">Structure</a></h3>
                                <a href="~/Service/Structure">Read more <i class="ti-arrow-right align-middle ms-1"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-4 mt-2-9 wow fadeIn" data-wow-delay="500ms">
                        <div class="card-style1">
                            <div class="card-main-img">
                                <div class="card-border"></div>
                                <div class="card-icon">
                                    <img src="~/Content/img/icons/05.png" alt="...">
                                </div>
                                <div class="card-image">
                                    <img src="~/Content/img/service/service-03.jpg" alt="...">
                                </div>
                            </div>
                            <div class="card-content">
                                <h3 class="mb-2 h5"><a href="~/Service/Interior">Interior</a></h3>
                                <a href="~/Service/Interior">Read more <i class="ti-arrow-right align-middle ms-1"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-4 mt-2-9 wow fadeIn" data-wow-delay="200ms">
                        <div class="card-style1">
                            <div class="card-main-img">
                                <div class="card-border"></div>
                                <div class="card-icon">
                                    <img src="~/Content/img/icons/06.png" alt="...">
                                </div>
                                <div class="card-image">
                                    <img src="~/Content/img/service/service-04.jpg" alt="...">
                                </div>
                            </div>
                            <div class="card-content">
                                <h3 class="mb-2 h5"><a href="~/Service/EngineeringConstruction">Engineering Construction</a></h3>
                                <a href="~/Service/EngineeringConstruction">Read more <i class="ti-arrow-right align-middle ms-1"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-4 mt-2-9 wow fadeIn" data-wow-delay="350ms">
                        <div class="card-style1">
                            <div class="card-main-img">
                                <div class="card-border"></div>
                                <div class="card-icon">
                                    <img src="~/Content/img/icons/07.png" alt="...">
                                </div>
                                <div class="card-image">
                                    <img src="~/Content/img/service/service-05.jpg" alt="...">
                                </div>
                            </div>
                            <div class="card-content">
                                <h3 class="mb-2 h5"><a href="~/Service/SafetyAssesment">Safety Assesment</a></h3>
                                <a href="~/Service/SafetyAssesment">Read more <i class="ti-arrow-right align-middle ms-1"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-4 mt-2-9 wow fadeIn" data-wow-delay="500ms">
                        <div class="card-style1">
                            <div class="card-main-img">
                                <div class="card-border"></div>
                                <div class="card-icon">
                                    <img src="~/Content/img/icons/08.png" alt="...">
                                </div>
                                <div class="card-image">
                                    <img src="~/Content/img/service/service-06.jpg" alt="...">
                                </div>
                            </div>
                            <div class="card-content">
                                <h3 class="mb-2 h5"><a href="~/Service/ProjectManagement">Project Management</a></h3>
                                <a href="~/Service/ProjectManagement">Read more <i class="ti-arrow-right align-middle ms-1"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- EXTRA
        ================================================== -->
        <section class="bg-primary py-8 overflow-visible">
            <div class="container">
                <div class="row justify-content-xxl-end align-items-center">
                    <div class="col-lg-8 col-xl-6 mb-4 mb-lg-0 wow fadeIn" data-wow-delay="200ms">
                        <div class="section-title white">
                            <h2 class="mb-0 h1 text-white">For all your construction needs!</h2>
                        </div>
                    </div>
                    <div class="col-lg-3 wow fadeIn" data-wow-delay="400ms">
                        <div class="text-lg-end">
                            <a href="~/Home/Contact" class="butn white"><span>Contact Us</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="left-img-block">
                <div class="left-img">
                    <img src="~/Content/img/content/footer.jpg" alt="...">
                </div>
            </div>
        </section>


