
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}


        <!-- PAGE TITLE
        ================================================== -->
        <section class="page-title-section bg-img cover-background top-position1 secondary-overlay" data-overlay-dark="7" data-background="/Content/img/banner/page-title.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="position-relative">
                            <h1>Portfolio Standard</h1>
                        </div>
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li><a href="#!">Portfolio Standard</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <!-- PORTFOLIO
        ================================================== -->
        <section>
            <div class="container">
                <div class="row portfolio-gallery mt-n4">
                    <div class="col-md-6 col-xl-4 mt-4 wow fadeInUp" data-wow-delay="200ms" data-src="/Content/img/portfolio/06.jpg" data-sub-html="<h4 class='text-white'>MDZ Designs</h4><p>Commercial</p>">
                        <div class="portfolio-style01">
                            <div class="portfolio-img">
                                <img src="~/Content/img/portfolio/06.jpg" class="border-radius-10" alt="...">
                            </div>
                            <div class="portfolio-content">
                                <span class="text-primary d-block mb-1 text-uppercase font-weight-600 small">Commercial</span>
                                <h3 class="mb-0 h4"><a href="portfolio-details.html" class="portfolio-link">MDZ Designs</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-4 mt-4 wow fadeInUp" data-wow-delay="400ms" data-src="/Content/img/portfolio/07.jpg" data-sub-html="<h4 class='text-white'>Membrane Structure</h4><p>Commercial</p>">
                        <div class="portfolio-style01">
                            <div class="portfolio-img">
                                <img src="~/Content/img/portfolio/07.jpg" class="border-radius-10" alt="...">
                            </div>
                            <div class="portfolio-content">
                                <span class="text-primary d-block mb-1 text-uppercase font-weight-600 small">Commercial</span>
                                <h3 class="mb-0 h4"><a href="portfolio-details.html" class="portfolio-link">Membrane Structure</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-4 mt-4 wow fadeInUp" data-wow-delay="600ms" data-src="/Content/img/portfolio/08.jpg" data-sub-html="<h4 class='text-white'>Best Engineering</h4><p>Architecture</p>">
                        <div class="portfolio-style01">
                            <div class="portfolio-img">
                                <img src="~/Content/img/portfolio/08.jpg" class="border-radius-10" alt="...">
                            </div>
                            <div class="portfolio-content">
                                <span class="text-primary d-block mb-1 text-uppercase font-weight-600 small">Architecture</span>
                                <h3 class="mb-0 h4"><a href="portfolio-details.html" class="portfolio-link">Best Engineering</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-4 mt-4 wow fadeInUp" data-wow-delay="200ms" data-src="/Content/img/portfolio/09.jpg" data-sub-html="<h4 class='text-white'>Market Research</h4><p>Planning</p>">
                        <div class="portfolio-style01">
                            <div class="portfolio-img">
                                <img src="~/Content/img/portfolio/09.jpg" class="border-radius-10" alt="...">
                            </div>
                            <div class="portfolio-content">
                                <span class="text-primary d-block mb-1 text-uppercase font-weight-600 small">Planning</span>
                                <h3 class="mb-0 h4"><a href="portfolio-details.html" class="portfolio-link">Market Research</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-4 mt-4 wow fadeInUp" data-wow-delay="400ms" data-src="/Content/img/portfolio/10.jpg" data-sub-html="<h4 class='text-white'>Whitney Architecture</h4><p>Architects</p>">
                        <div class="portfolio-style01">
                            <div class="portfolio-img">
                                <img src="~/Content/img/portfolio/10.jpg" class="border-radius-10" alt="...">
                            </div>
                            <div class="portfolio-content">
                                <span class="text-primary d-block mb-1 text-uppercase font-weight-600 small">Architects</span>
                                <h3 class="mb-0 h4"><a href="portfolio-details.html" class="portfolio-link">Whitney Architecture</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-4 mt-4 wow fadeInUp" data-wow-delay="600ms" data-src="/Content/img/portfolio/11.jpg" data-sub-html="<h4 class='text-white'>Tyler Architecture</h4><p>Commercial</p>">
                        <div class="portfolio-style01">
                            <div class="portfolio-img">
                                <img src="~/Content/img/portfolio/11.jpg" class="border-radius-10" alt="...">
                            </div>
                            <div class="portfolio-content">
                                <span class="text-primary d-block mb-1 text-uppercase font-weight-600 small">Commercial</span>
                                <h3 class="mb-0 h4"><a href="portfolio-details.html" class="portfolio-link">Tyler Architecture</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- EXTRA
        ================================================== -->
        <section class="bg-primary py-8 overflow-visible">
            <div class="container">
                <div class="row justify-content-xxl-end align-items-center">
                    <div class="col-lg-8 col-xl-6 mb-4 mb-lg-0 wow fadeIn" data-wow-delay="200ms">
                        <div class="section-title white">
                            <h2 class="mb-0 h1 text-white">For all your construction needs!</h2>
                        </div>
                    </div>
                    <div class="col-lg-3 wow fadeIn" data-wow-delay="400ms">
                        <div class="text-lg-end">
                            <a href="~/Home/Contact" class="butn white"><span>Contact Us</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="left-img-block">
                <div class="left-img">
                    <img src="~/Content/img/content/footer.jpg" alt="...">
                </div>
            </div>
        </section>


