@{
    ViewBag.Title = "About-AllSquare";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
        <!-- PAGE TITLE
        ================================================== -->
        <section class="page-title-section bg-img cover-background top-position1 secondary-overlay" data-overlay-dark="7" data-background="/Content/img/banner/page-title.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="position-relative">
                            <h1>About Us</h1>
                        </div>
                        <ul>
                            <li><a href="~/Home/Index">Home</a></li>
                            <li><a href="#!">About Us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <!-- ABOUT
        ================================================== -->
        <section class="overflow-visible">
            <div class="container position-relative z-index-3">
                <div class="row align-items-center about-style-02">
                    <div class="col-lg-6 mb-1-9 mb-lg-0 wow fadeIn" data-wow-delay="200ms">
                        <div class="me-xxl-2-9 position-relative pb-sm-12 text-center text-sm-start">
                            <img src="~/Content/img/content/about4.jpg" class="border-radius-10" width="400" height="700" alt="...">
                            <div class="right bottom-0 d-none d-sm-block position-absolute">
                                <img src="~/Content/img/content/about3.jpg" class="border-radius-10" width="400" height="700" alt ="...">
                            </div>
                            <span class="line-box1"></span>
                            <span class="line-box2 d-none d-sm-block"></span>
                        </div>
                    </div>
                    <div class="col-lg-6 wow fadeIn" data-wow-delay="400ms">
                        <div class="ps-xl-1-9">
                            <div class="section-title">
                                <span class="sm-title">About Us</span>
                            </div>
                            <h2 class="h1 mb-1-9">Providing full range of high services solution</h2>
                            <p class="mb-1-9">Team is a diverse network of consultants and industry professionals with a global mindset and a collaborative culture.</p>
                            <div class="d-flex align-items-center mb-1-6 mb-lg-2-3">
                                <div class="flex-shrink-0">
                                    <img src="~/Content/img/icons/02.png" alt="...">
                                </div>
                                <div class="flex-grow-1 ms-3">
                                    <h4 class="mb-0 h5 w-lg-80">We provide the most reasonable cost and best services.</h4>
                                </div>
                            </div>
                            <div class="row mb-1-9">
                                <div class="col-lg-6">
                                    <ul class="list-style2 mb-0">
                                        <li>Quality control system</li>
                                        <li>Best ever plan</li>
                                    </ul>
                                </div>
                                <div class="col-lg-6">
                                    <ul class="list-style2 mb-0">
                                        <li>Client free service</li>
                                        <li>Finish work before deadline</li>
                                    </ul>
                                </div>
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- WHY CHOOSE US
        ================================================== -->
        <section class="bg-img cover-background pb-0 pt-lg-0 secondary-overlay" data-overlay-dark="8" data-background="~/Content/img/bg/bg-02.jpg">
            <div class="container position-relative z-index-9">
                <div class="row align-items-center">
                    <div class="col-lg-6 mb-2-9 mb-lg-0 wow fadeIn" data-wow-delay="200ms">
                        <div class="story-video">
                            <div class="section-title mb-1-9">
                                <span class="sm-title">Why Choose Us</span>
                                <h2 class="mb-0 h1 text-white">Reason for people choosing AllSquare</h2>
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-lg-6 wow fadeIn" data-wow-delay="400ms">
                        <div class="ps-xl-6">
                            <ul class="why-us-block">
                                <li class="inner-block">
                                    <div class="content">
                                        <img src="~/Content/img/icons/13.png" class="mb-3" alt="...">
                                        <h4>Modern Technology</h4>
                                    </div>
                                </li>
                                <li class="inner-block color2">
                                    <div class="content">
                                        <img src="~/Content/img/icons/14.png" class="mb-3" alt="...">
                                        <h4>Tiling & Painiting</h4>
                                    </div>
                                </li>
                                <li class="inner-block color2">
                                    <div class="content">
                                        <img src="~/Content/img/icons/15.png" class="mb-3" alt="...">
                                        <h4>Financial Consulting</h4>
                                    </div>
                                </li>
                                <li class="inner-block">
                                    <div class="content">
                                        <img src="~/Content/img/icons/16.png" class="mb-3" alt="...">
                                        <h4>Expert Engineer</h4>
                                    </div>
                                </li>
                                <li class="inner-block">
                                    <div class="content">
                                        <img src="~/Content/img/icons/01.png" class="mb-3" alt="...">
                                        <h4>Awards winner</h4>
                                    </div>
                                </li>
                                <li class="inner-block color2">
                                    <div class="content">
                                        <img src="~/Content/img/icons/02.png" class="mb-3" alt="...">
                                        <h4>Best Quality</h4>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- PROCESS
        ================================================== -->
        <section>
            <div class="container">
                <div class="section-title mb-1-9 mb-md-6 text-center wow fadeIn" data-wow-delay="200ms">
                    <span class="sm-title">Work Process</span>
                    <h2 class="mb-0 h1">Our Working Process</h2>
                </div>
                <div class="text-center">
                    <div class="row mt-n1-9">
                        <div class="col-lg-3 col-md-6 mt-1-9 wow fadeIn" data-wow-delay="400ms">
                            <div class="process-style1 position-relative">
                                <div class="process-icon">
                                    <div class="process-img">
                                        <img src="~/Content/img/icons/17.png" alt="...">
                                        <div class="tag">01</div>
                                    </div>
                                </div>
                                <h4 class="mb-0">Client Needs</h4>
                                <img src="~/Content/img/content/arrow01.png" class="arrow" alt="...">
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 mt-1-9 wow fadeIn" data-wow-delay="600ms">
                            <div class="process-style1 position-relative">
                                <div class="process-icon">
                                    <div class="process-img">
                                        <img src="~/Content/img/icons/18.png" alt="...">
                                        <div class="tag">02</div>
                                    </div>
                                </div>
                                <h4 class="mb-0">Planning Design</h4>
                                <img src="~/Content/img/content/arrow01.png" class="arrow" alt="...">
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 mt-1-9 wow fadeIn" data-wow-delay="800ms">
                            <div class="process-style1 position-relative">
                                <div class="process-icon">
                                    <div class="process-img">
                                        <img src="~/Content/img/icons/19.png" alt="...">
                                        <div class="tag">03</div>
                                    </div>
                                </div>
                                <h4 class="mb-0">Architect Sketch</h4>
                                <img src="~/Content/img/content/arrow01.png" class="arrow" alt="...">
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 mt-1-9 wow fadeIn" data-wow-delay="1000ms">
                            <div class="process-style1 position-relative">
                                <div class="process-icon">
                                    <div class="process-img">
                                        <img src="~/Content/img/icons/20.png" alt="...">
                                        <div class="tag">04</div>
                                    </div>
                                </div>
                                <h4 class="mb-0">Start Bulding</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- TESTIMONIAL
        ================================================== -->
        <section class="bg-light bg-img cover-background" data-background="~/Content/img/bg/bg-07.png">
            <div class="container">
                <div class="section-title mb-1-9 mb-md-6 text-center wow fadeIn" data-wow-delay="200ms">
                    <span class="sm-title">Testimonial</span>
                    <h2 class="mb-0 h1">What Our Client Say</h2>
                </div>
                <div class="row gx-xxl-5 mt-n2-9">
                    <div class="col-md-6 col-lg-4 mt-2-9 wow fadeIn" data-wow-delay="400ms">
                        <div class="testimonial-style1">
                            <div class="d-flex">
                                <div class="flex-shrink-0">
                                    <img src="~/Content/img/avatars/avatar-04.jpg" class="border-radius-10" alt="...">
                                </div>
                                <div class="flex-grow-1 ms-4 pt-4">
                                    <h4 class="h5 mb-1">Jakaria Shimul</h4>
                                    <small>CEO & Founder</small>
                                </div>
                            </div>
                            <div class="testi-text">
                                <i class="fa-solid fa-quote-right icon"></i>
                                <div class="item-desc">I have gotten at least 50 times the value from construction. It really saves me time and effort. Construction did exactly what you said it does.</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 mt-2-9 wow fadeIn" data-wow-delay="600ms">
                        <div class="testimonial-style1">
                            <div class="d-flex">
                                <div class="flex-shrink-0">
                                    <img src="~/Content/img/avatars/avatar-05.jpg" class="border-radius-10" alt="...">
                                </div>
                                <div class="flex-grow-1 ms-4 pt-4">
                                    <h4 class="h5 mb-1">Hasan Mamun</h4>
                                    <small>Marketing Manager</small>
                                </div>
                            </div>
                            <div class="testi-text">
                                <i class="fa-solid fa-quote-right icon"></i>
                                <div class="item-desc">I would be lost without construction. I STRONGLY recommend construction to everyone interested in running a successful business! I'm good to go.</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 mt-2-9 wow fadeIn" data-wow-delay="800ms">
                        <div class="testimonial-style1">
                            <div class="d-flex">
                                <div class="flex-shrink-0">
                                    <img src="~/Content/img/avatars/avatar-01.jpg" class="border-radius-10" alt="...">
                                </div>
                                <div class="flex-grow-1 ms-4 pt-4">
                                    <h4 class="h5 mb-1">Fardeen Khan</h4>
                                    <small>Business Manager</small>
                                </div>
                            </div>
                            <div class="testi-text">
                                <i class="fa-solid fa-quote-right icon"></i>
                                <div class="item-desc">I wish I would have thought of it first. I don't know what else to say. Just what I was looking for. Buy this now. Just what I was looking for.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        

        <!-- EXTRA
        ================================================== -->
        <section class="bg-primary py-8 overflow-visible">
            <div class="container">
                <div class="row justify-content-xxl-end align-items-center">
                    <div class="col-lg-8 col-xl-6 mb-4 mb-lg-0 wow fadeIn" data-wow-delay="200ms">
                        <div class="section-title white">
                            <h2 class="mb-0 h1 text-white">For all your construction needs!</h2>
                        </div>
                    </div>
                    <div class="col-lg-3 wow fadeIn" data-wow-delay="400ms">
                        <div class="text-lg-end">
                            <a href="~/Home/Contact" class="butn white"><span>Contact Us</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="left-img-block">
                <div class="left-img">
                    <img src="~/Content/img/content/footer.jpg" alt="...">
                </div>
            </div>
        </section>
