@{
    ViewBag.Title = "Home- AllSquare";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<!-- BANNER
================================================== -->
<section class="full-screen top-position1 p-0">
    <div class="slider-fade owl-carousel owl-theme w-100 min-vh-100">

        <div class="item bg-img cover-background left-overlay-secondary" data-overlay-dark="7" data-background="/Content/img/banner/slide-01.jpg">
            <div class="container pt-sm-6 pt-md-0 d-flex flex-column">
                <div class="row align-items-center min-vh-100 pt-6 pt-md-0">
                    <div class="col-md-10 col-lg-8 col-xl-7 mb-1-9 mb-lg-0 py-5">
                        <span class="small-title">Construction</span>
                        <h1 class="display-16 display-sm-7 display-lg-4 display-xl-3 display-xxl-2 text-white mb-2-9">Build A Better World With Us.</h1>
                        <div class="mt-1-9 align-middle">
                            <a href="~/Home/Contact" class="butn me-sm-2 mb-2 mb-sm-0 md white">Get Started</a>
                            <a href="~/Home/About" class="butn md">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item bg-img cover-background left-overlay-secondary" data-overlay-dark="7" data-background="/Content/img/banner/slide-02.jpg">
            <div class="container pt-sm-6 pt-md-0 d-flex flex-column">
                <div class="row align-items-center min-vh-100 pt-6 pt-md-0">
                    <div class="col-md-10 col-lg-8 col-xl-7 mb-1-9 mb-lg-0 py-5">
                        <span class="small-title">Construction</span>
                        <h1 class="display-16 display-sm-7 display-lg-4 display-xl-3 display-xxl-2 text-white mb-2-9">Provide Effective Solutions.</h1>
                        <div class="mt-1-9 align-middle">
                            <a href="~/Home/Contact" class="butn me-sm-2 mb-2 mb-sm-0 md white">Get Started</a>
                            <a href="~/Home/About" class="butn md">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item bg-img cover-background left-overlay-secondary" data-overlay-dark="7" data-background="/Content/img/banner/slide-03.jpg">
            <div class="container pt-sm-6 pt-md-0 d-flex flex-column">
                <div class="row align-items-center min-vh-100 pt-6 pt-md-0">
                    <div class="col-md-10 col-lg-8 col-xl-7 mb-1-9 mb-lg-0 py-5">
                        <span class="small-title">Construction</span>
                        <h1 class="display-16 display-sm-7 display-lg-4 display-xl-3 display-xxl-2 text-white mb-2-9">Best Builders In The World.</h1>
                        <div class="mt-1-9 align-middle">
                            <a href="~/Home/Contact" class="butn me-sm-2 mb-2 mb-sm-0 md white">Get Started</a>
                            <a href="~/Home/About" class="butn md">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<!-- ABOUT
       ================================================== -->
<section class="about-style03">
    <div class="container">
        <div class="row align-items-center mt-n2-9">
            <div class="col-lg-6 mt-2-9">
                <div class="pe-lg-6 pe-xxl-10 about-text">
                    <div class="section-title02 mb-2-9 wow fadeInUp" data-wow-delay="100ms">
                        <span>About Us</span>
                        <h2 class="mb-0 h1">Providing Solutions For Construction, Management & Restoration.</h2>
                    </div>
                    <div class="d-flex mb-1-9 wow fadeInUp" data-wow-delay="300ms">
                        <div class="flex-shrink-0">
                            <i class="ti-check icon icon-line"></i>
                        </div>
                        <div class="flex-grow-1 ms-1-6 ms-sm-2-6">
                            <h3 class="h5">Certified & Awards winner</h3>
                            <p class="mb-0">Architects and engineers design and build the structure with that location in mind.</p>
                        </div>
                    </div>
                    <div class="d-flex mb-1-9 wow fadeInUp" data-wow-delay="400ms">
                        <div class="flex-shrink-0">
                            <i class="ti-check icon icon-line"></i>
                        </div>
                        <div class="flex-grow-1 ms-1-6 ms-sm-2-6">
                            <h3 class="h5">Work with energetic team</h3>
                            <p class="mb-0">We have one of the best team at your service.</p>
                        </div>
                    </div>
                    <div class="d-flex wow fadeInUp" data-wow-delay="500ms">
                        <div class="flex-shrink-0">
                            <i class="ti-check icon"></i>
                        </div>
                        <div class="flex-grow-1 ms-1-6 ms-sm-2-6">
                            <h3 class="h5">Professional engineers</h3>
                            <p class="mb-0">Our engineers are most professional at their work.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mt-2-9">
                <div class="position-relative text-center">
                    <div class="row">
                        <div class="col-6 wow fadeInDown" data-wow-delay="400ms">
                            <div class="text-end image-oval">
                                <img src="~/Content/img/content/about-05.png" alt="..." class="img-01">
                            </div>
                        </div>
                        <div class="col-6 wow fadeInUp" data-wow-delay="200ms">
                            <div class="text-start mt-14 image-oval">
                                <img src="~/Content/img/content/about-06.jpg" alt="..." class="img-02">
                            </div>
                        </div>
                    </div>
                    <div class="square-shape">
                        <div class="shape1 wow fadeIn" data-wow-delay="400ms"></div>
                        <div class="shape2 wow fadeIn" data-wow-delay="800ms"></div>
                        <div class="shape3 wow fadeIn" data-wow-delay="1200ms"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- SERVICES
================================================== -->
<section class="service-style01 bg-img cover-background secondary-overlay" data-overlay-dark="9" data-background="/Content/img/bg/bg-14.jpg">
    <div class="container">
        <div class="section-title02 mb-7 text-center wow fadeInUp" data-wow-delay="100ms">
            <span>Our Services</span>
            <h2 class="mb-0 h1 text-white">Develop Comprehensive Solutions</h2>
        </div>
        <div class="row mt-n2-9">
            <div class="col-md-6 col-lg-4 mt-2-9 wow fadeIn" data-wow-delay="200ms">
                <div class="position-relative p-xl-4">
                    <div class="ps-4 pt-4 position-relative z-index-9">
                        <h3 class="h4"><a href="~/Service/Architecture" class="text-white text-primary-hover">Architecture</a></h3>
                        <p class="text-white">Facility to produce simply advance design various industrial applications.</p>
                        <a href="~/Service/Architecture" class="text-primary text-white-hover">Read more <i class="ti-arrow-right align-middle ms-1"></i></a>
                    </div>
                    <span class="position-absolute top-0 left-0">
                        <img src="~/Content/img/icons/23.png" alt="..." class="opacity2">
                    </span>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mt-2-9 wow fadeIn" data-wow-delay="350ms">
                <div class="position-relative p-xl-4">
                    <div class="ps-4 pt-4 position-relative z-index-9">
                        <h3 class="h4"><a href="~/Service/Interior" class="text-white text-primary-hover">Interior</a></h3>
                        <p class="text-white">Facility to produce world class Interior design for you.</p>
                        <a href="~/Service/Interior" class="text-primary text-white-hover">Read more <i class="ti-arrow-right align-middle ms-1"></i></a>
                    </div>
                    <span class="position-absolute top-0 left-0">
                        <img src="~/Content/img/icons/24.png" alt="..." class="opacity2">
                    </span>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mt-2-9 wow fadeIn" data-wow-delay="500ms">
                <div class="position-relative p-xl-4">
                    <div class="ps-4 pt-4 position-relative z-index-9">
                        <h3 class="h4"><a href="~/Service/EngineeringConstruction" class="text-white text-primary-hover">Engineering Construction</a></h3>
                        <p class="text-white">We can construct world class facility.</p>
                        <a href="~/Service/EngineeringConstruction" class="text-primary text-white-hover">Read more <i class="ti-arrow-right align-middle ms-1"></i></a>
                    </div>
                    <span class="position-absolute top-0 left-0">
                        <img src="~/Content/img/icons/25.png" alt="..." class="opacity2">
                    </span>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mt-2-9 wow fadeIn" data-wow-delay="650ms">
                <div class="position-relative p-xl-4">
                    <div class="ps-4 pt-4 position-relative z-index-9">
                        <h3 class="h4"><a href="~/Service/Structure" class="text-white text-primary-hover">Structure</a></h3>
                        <p class="text-white">We will provide best in business structure design.</p>
                        <a href="~/Service/Structure" class="text-primary text-white-hover">Read more <i class="ti-arrow-right align-middle ms-1"></i></a>
                    </div>
                    <span class="position-absolute top-0 left-0">
                        <img src="~/Content/img/icons/26.png" alt="..." class="opacity2">
                    </span>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mt-2-9 wow fadeIn" data-wow-delay="800ms">
                <div class="position-relative p-xl-4">
                    <div class="ps-4 pt-4 position-relative z-index-9">
                        <h3 class="h4"><a href="~/Service/ProjectManagement" class="text-white text-primary-hover">Project Management</a></h3>
                        <p class="text-white">Facility to produce simply advance work various industrial applications.</p>
                        <a href="~/Service/ProjectManagement" class="text-primary text-white-hover">Read more <i class="ti-arrow-right align-middle ms-1"></i></a>
                    </div>
                    <span class="position-absolute top-0 left-0">
                        <img src="~/Content/img/icons/27.png" alt="..." class="opacity2">
                    </span>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mt-2-9 wow fadeIn" data-wow-delay="950ms">
                <div class="position-relative p-xl-4">
                    <div class="ps-4 pt-4 position-relative z-index-9">
                        <h3 class="h4"><a href="~/Service/SafetyAssesment" class="text-white text-primary-hover">Safety Assesment</a></h3>
                        <p class="text-white">We provide safety assesment of your property.</p>
                        <a href="~/Service/SafetyAssesment" class="text-primary text-white-hover">Read more <i class="ti-arrow-right align-middle ms-1"></i></a>
                    </div>
                    <span class="position-absolute top-0 left-0">
                        <img src="~/Content/img/icons/28.png" alt="..." class="opacity2">
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="square-shape d-none d-lg-block">
        <div class="shape1 z-index-9 wow fadeIn" data-wow-delay="400ms"></div>
        <div class="shape2 z-index-9 wow fadeIn" data-wow-delay="800ms"></div>
        <div class="shape3 z-index-9 wow fadeIn" data-wow-delay="1200ms"></div>
    </div>
</section>

<!-- PROCESS
================================================== -->
<section class="process-style2">
    <div class="container">
        <div class="section-title02 mb-7 text-center wow fadeInUp" data-wow-delay="100ms">
            <span>Our Process</span>
            <h2 class="mb-0 h1">Our Working Plan</h2>
        </div>
        <div class="row mt-n2-9">
            <div class="col-sm-6 col-lg-3 mt-2-9 wow fadeIn" data-wow-delay="200ms">
                <div class="text-center process-box odd">
                    <div class="inner-box">
                        <div class="process-img">
                            <img src="~/Content/img/content/process-01.jpg" alt="...">
                        </div>
                        <div class="process-no">
                            <span>01</span>
                        </div>
                    </div>
                    <h3 class="h5 mb-0">Client Needs</h3>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 mt-2-9 wow fadeIn" data-wow-delay="350ms">
                <div class="text-center process-box">
                    <div class="inner-box">
                        <div class="process-img">
                            <img src="~/Content/img/content/process-02.jpg" alt="...">
                        </div>
                        <div class="process-no">
                            <span>02</span>
                        </div>
                    </div>
                    <h3 class="h5 mb-0">Planning Design</h3>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 mt-2-9 wow fadeIn" data-wow-delay="500ms">
                <div class="text-center process-box odd">
                    <div class="inner-box">
                        <div class="process-img">
                            <img src="~/Content/img/content/process-03.jpg" alt="...">
                        </div>
                        <div class="process-no">
                            <span>03</span>
                        </div>
                    </div>
                    <h3 class="h5 mb-0">Architect Sketch</h3>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 mt-2-9 wow fadeIn" data-wow-delay="650ms">
                <div class="text-center process-box">
                    <div class="inner-box">
                        <div class="process-img">
                            <img src="~/Content/img/content/process-04.jpg" alt="...">
                        </div>
                        <div class="process-no">
                            <span>04</span>
                        </div>
                    </div>
                    <h3 class="h5 mb-0">Start Bulding</h3>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- COUNTER
================================================== -->
<section class="py-0">
    <div class="container">
        <div class="bg-img pb-5" data-overlay-light="9" data-background="img/bg/bg-09.png">
            <div class="row text-center position-relative z-index-1">
                <div class="col-6 col-lg-3 mb-1-6 mb-lg-0 wow fadeInUp" data-wow-delay="100ms">
                    <div>
                        <h3 class="font-weight-900 display-14 display-sm-12 display-lg-10 text-primary"><span class="countup">35</span>+</h3>
                        <span class="fw-bold text-uppercase">Customers</span>
                    </div>
                </div>
                <div class="col-6 col-lg-3 mb-1-6 mb-lg-0 wow fadeInUp" data-wow-delay="200ms">
                    <div>
                        <h3 class="font-weight-900 display-14 display-sm-12 display-lg-10 text-primary"><span class="countup">2</span>+</h3>
                        <span class="fw-bold text-uppercase">Branches</span>
                    </div>
                </div>
                <div class="col-6 col-lg-3 wow fadeInUp" data-wow-delay="300ms">
                    <div>
                        <h3 class="font-weight-900 display-14 display-sm-12 display-lg-10 text-primary"><span class="countup">30</span>+</h3>
                        <span class="fw-bold text-uppercase">Employees</span>
                    </div>
                </div>
                <div class="col-6 col-lg-3 wow fadeInUp" data-wow-delay="400ms">
                    <div>
                        <h3 class="font-weight-900 display-14 display-sm-12 display-lg-10 text-primary"><span class="countup">5</span>+</h3>
                        <span class="fw-bold text-uppercase">Citys</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- SERVICES
================================================== -->
<section class="vision-changebg owl-carousel owl-theme py-0 bg-img cover-background" data-overlay-dark="0" data-background="img/bg/bg-10.jpg">
    <div class="vision-wrapper bg-img cover-background secondary-overlay" data-overlay-dark="5" data-background="/Content/img/bg/bg-10.jpg">
        <div class="vision-content">
            <h3 class="mb-3"><a href="portfolio-details.html" class="text-white text-primary-hover">MDZ Designs</a></h3>
            <p class="mb-0 text-white">
                We assist our clients with industry professionals with a global mindset and a collaborative culture.
            </p>
        </div>
    </div>
    <div class="vision-wrapper bg-img cover-background secondary-overlay" data-overlay-dark="5" data-background="/Content/img/bg/bg-11.jpg">
        <div class="vision-content">
            <h3 class="mb-3"><a href="portfolio-details.html" class="text-white text-primary-hover">Membrane Structure</a></h3>
            <p class="mb-0 text-white">
                We assist our clients with industry professionals with a global mindset and a collaborative culture.
            </p>
        </div>
    </div>
    <div class="vision-wrapper bg-img cover-background secondary-overlay" data-overlay-dark="5" data-background="/Content/img/bg/bg-12.jpg">
        <div class="vision-content">
            <h3 class="mb-3"><a href="portfolio-details.html" class="text-white text-primary-hover">Best Engineering</a></h3>
            <p class="mb-0 text-white">
                We assist our clients with industry professionals with a global mindset and a collaborative culture.
            </p>
        </div>
    </div>
    <div class="vision-wrapper bg-img cover-background secondary-overlay" data-overlay-dark="5" data-background="/Content/img/bg/bg-13.jpg">
        <div class="vision-content">
            <h3 class="mb-3"><a href="portfolio-details.html" class="text-white text-primary-hover">Market Research</a></h3>
            <p class="mb-0 text-white">
                We assist our clients with industry professionals with a global mindset and a collaborative culture.
            </p>
        </div>
    </div>
</section>

<!-- CALL TO ACTION
================================================== -->
<section class="bg-img cover-background calltoaction-style01 overlay" data-overlay-dark="7" data-background="img/bg/bg-15.jpg">
    <div class="container">
        <div class="col-md-9 col-lg-10 col-xl-7">
            <div>
                <div class="section-title02 lg-text mb-1-9 wow fadeInUp" data-wow-delay="200ms">
                    <span>Construction, Management & Restoration</span>
                    <h2 class="display-4 font-weight-800 mb-0">Just Because You Work Hard You'll Be Successful.</h2>
                </div>
                <div class="wow fadeInUp" data-wow-delay="400ms">
                    <a href="~/Home/About" class="butn-style1">Read More</a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- BLOG
================================================== -->


<!-- EXTRA
================================================== -->
<section class="bg-primary py-8 overflow-visible">
    <div class="container">
        <div class="row justify-content-xxl-end align-items-center">
            <div class="col-lg-8 col-xl-6 mb-4 mb-lg-0">
                <div class="section-title white">
                    <h2 class="mb-0 h1 text-white">For all your construction needs!</h2>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="text-lg-end">
                    <a href="~/Home/Contact" class="butn white"><span>Contact Us</span></a>
                </div>
            </div>
        </div>
    </div>
    <div class="left-img-block">
        <div class="left-img">
            <img src="~/Content/img/content/footer.jpg" alt="...">
        </div>
    </div>
</section>
